---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import * as CONFIG from '../config';

const { content = {} } = Astro.props;
---

<html dir={content.dir ?? 'ltr' } lang={content.lang ?? 'en-us' } class="initial">

  <head>
    <HeadCommon />
    <HeadSEO {content} canonicalURL={Astro.canonicalURL} />
    <title>{content.title ? `${CONFIG.SITE.title} ⎈ ${content.title}` : CONFIG.SITE.title}</title>
  </head>

  <body>
    <a href="#intro" class="sr-only focus:not-sr-only"><span>Skip to Content</span></a>
    <Header {content} />

    <main>
      <slot />
    </main>

    <Footer />
  </body>

</html>
