---
import MainLayout from "../layouts/MainLayout.astro";
import Speaker from "../components/Speaker/Speaker.astro";
import Agenda from "../components/Agenda/Agenda.astro";

import { agenda, speakers } from "../../data/combined.json";

const keynoteSpeakers = speakers.filter((el) => {
  return el.isTopSpeaker == true;
});

const content = {
  title: "2023",
  description: "The 3 (Torronto) Edition of KubeHuddle, May 17th-18th",
  date: "May 17th and 18th, 2023",
  location: "Metro Toronto Convention Centre, Toronto, Ontario, Canada.",
  sponsors: {
    diamond: [
      {
        name: "Kasten",
        logo: "Kasten_Logo.svg",
        href: "https://www.kasten.io/",
      },
    ],
    gold: [
      { name: "Sysdig", logo: "sysdig-logo.svg", href: "https://sysdig.com/" },
    ],
    silver: [
      {
        name: "F5",
        logo: "f5-logo.svg",
        href: "https://www.f5.com/",
      },
      {
        name: "Solo",
        logo: "solo-logo.png",
        href: "https://www.solo.io/",
      },
    ],
    bronze: [
      {
        name: "Tremolo Security",
        logo: "tremolo-security-logo.png",
        href: "https://www.tremolosecurity.com/",
      },
    ],
    speaker: [],
    community: [
      {
        name: "ExamPro",
        logo: "ExamPro-logo-horizontal.svg",
        href: "https://www.exampro.co/",
      },
      {
        name: "SuperOrbital",
        logo: "SuperOrbital-Logo.png",
        href: "https://superorbital.io/",
      },
      {
        name: "AtomicJar",
        logo: "atomicjar-logo.svg",
        href: "https://atomicjar.com/",
      },
      {
        name: "Rawkode Academy",
        logo: "rawkodeacademy.png",
        href: "https://rawkode.live/",
      },
    ],
    lanyard: [
      {
        name: "Civo",
        logo: "civo.png",
        href: "https://civo.com/",
      },
    ],
  },
  organizers: [
    {
      name: "Marino Wijay",
      image: "Marino.jpg",
      href: "https://twitter.com/virtualized6ix",
    },
    {
      name: "Barsha Das",
      image: "Barsha.jpg",
      href: "https://twitter.com/thebarshablog",
    },
    {
      name: "Kunal Kushwaha",
      image: "Kunal.jpg",
      href: "https://twitter.com/kunalstwt",
    },
    {
      name: "Diana Pham ",
      image: "Diana.jpg",
      href: "https://twitter.com/dianasoyster",
    },
    {
      name: "Julia Furst Morgado ",
      image: "Julia.jpg",
      href: "https://twitter.com/juliafmorgado",
    },
    {
      name: "Rishab Kumar",
      image: "Rishab.jpg",
      href: "https://twitter.com/rishabk7",
    },
    {
      name: "Tim Davis",
      image: "vtimd.jpeg",
      href: "https://twitter.com/vtimd",
    },
    {
      name: "David Flanagan",
      image: "rawkode.jpeg",
      href: "https://twitter.com/rawkode",
    },
    {
      name: "Safia Omar",
      image: "Safia.jpeg",
      href: "https://mobile.twitter.com/CulturedCoder",
    },
  ],
};
---

<MainLayout {content}>
  <section id="intro" class="introdiv">
    <!-- <div class="blue-leaf-container2">
      <img src={"/mapleaf.png"} class="maple-leaf-blue" />
    </div> -->
    <div class="container">
      <!-- <h3 class="center">
        The inaugural KubeHuddle conference, hosted in the beautiful Scottish
        capital, Edinburgh.
      </h3>

      <p>
        KubeHuddle is Scotland’s first Kubernetes conference, hosted and
        organized by the Scottish community.
      </p>

      <p>
        You can buy tickets <em>now</em>. We have limited tickets available at
        each price point:
      </p> -->

      <!-- <ul>
        <li>
          <strike>Believer - £100 GBP</strike>
          <strong>[SOLD OUT]</strong>
        </li>
        <li>
          <strike>Early Bird - £150 GBP</strike>
          <strong>[SOLD OUT]</strong>
        </li>
        <li><strike>Standard - £200 GBP</strike><strong>[SOLD OUT]</strong></li>
      </ul> -->
      <!--  -->
      <div>
        <h3 class="kube_h3">
          KubeHuddle is a community conference where Developers, Platform
          Engineers, DevOps, SRE, Cloud Enthusiasts, Technical and Business
          Strategists come together to learn from each other, collaborate and,
          innovate around areas of :
        </h3>
        <!-- <p></p>
        <p>This conference will cover topics on:</p> -->
        <ul class="h3_marg">
          <h3><li>Cloud technologies</li></h3>
          <h3><li>Cloud Native and Kubernetes</li></h3>
          <h3><li>Edge Computing</li></h3>
          <h3><li>Platform Engineering</li></h3>
          <h3><li>Technical Strategy</li></h3>
          <h3><li>Architecture and design consideration</li></h3>
          <h3><li>Developer Platforms and Portals</li></h3>
          <h3><li>Developer tooling</li></h3>
          <h3><li>App Development challenges</li></h3>
          <h3><li>Real life production stories</li></h3>
          <h3><li>Learning Cloud</li></h3>
          <h3><li>Application and Infra Security</li></h3>
          <h3><li>The humanity and empathy side of tech</li></h3>
        </ul>
      </div>
      <div class="center">
        <p>
          <strong
            >KubeHuddle will happen in Toronto, Ontario, Canada in May 2023 🇨🇦
          </strong>
        </p>
        <a
          class="big-button"
          href="https://www.tickettailor.com/events/kubehuddletoronto2023/"
          >Buy Tickets</a
        >
      </div>
      <!-- <h4 class="tickets_soon">( Tickets Coming Soon )</h4> -->
      <div class="center">
        <p class="ticket_size">
          <strike>Early Bird - $200 CAD (until Feb 15th or sold out)</strike>
        </p>
        <p class="ticket_size stnd_mr">
          Standard - $250 CAD (Feb 15th until April 30th) &nbsp;
        </p>
        <p class="ticket_size">
          Late - $300 CAD (May 1st up until the event start)
        </p>
      </div>
      <p>
        If you’re unable to afford a ticket, we may be able to help with our
        diversity and inclusion tickets, kindly sponsored by members and
        organizations within our community.<a
          href="mailto:organizers@kubehuddle.com">✉️ Speak to us</a
        >
      </p>
    </div>
    <div class="blue-leaf-container3">
      <img src={"/2023/toronto/mapleaf.png"} class="maple-leaf-blue" />
    </div>
  </section>

  <section id="Program">
    <div class="container">
      <h2 style="margin-top: 0px;" class="pull-right">Program</h2>

      <div>
        <strong>Track 1 - Introductions & Intermediate Presentations</strong><br
        />
        <p>
          This track will feature beginner friendly and intermediate content to
          cater for a wide variety of experiences, including beginers to
          Kubernetes.
        </p>

        <strong>Track 2 - Advanced Presentations</strong>
        <p>
          This track will feature advanced Kubernetes topics revolving around
          scale, multi-tenancy, and operations - you know, all that “fun” stuff.
        </p>

        <strong>Workshop Rooms</strong>
        <p>
          A small selection of workshops and tutorials will also be available
          throughout the two days, at no extra cost.
        </p>
      </div>

      {agenda[0] && <Agenda agenda={agenda[0]} />}
      {agenda[1] && <Agenda agenda={agenda[1]} />}
    </div>
  </section>

  <section id="speakers" class="introdiv">
    <div class="blue-leaf-container2">
      <img src={"/2023/toronto/mapleaf.png"} class="maple-leaf-blue" />
    </div>
    <div class="container">
      <h2>Speakers</h2>

      <div class="center">
        <div class="fig-holder center">
          <p class="keynote">Keynote Speakers</p>
          {keynoteSpeakers.map((speaker) => <Speaker {speaker} />)}
        </div>

        <div class="fig-holder center">
          <p class="keynote">Speakers</p>
          {speakers.map((speaker) => <Speaker {speaker} />)}
        </div>
      </div>
      <div class="blue-leaf-container3">
        <img src={"/2023/toronto/mapleaf.png"} class="maple-leaf-blue" />
      </div>
    </div>
  </section>

  <section id="sponsors">
    <div class="container">
      <h2>Sponsors</h2>

      <p>
        If you’d like to support this conference, you can find details on our <a
          href="/2023/toronto/sponsorship">sponsorship opportunities page</a
        >.
      </p>

      <!--Sponsers -->
      <div class="fig-holder">
        {
          content.sponsors.diamond.length > 0 && (
            <div id="sponsors-malt">
              <h3
                set:text={
                  content.sponsors.diamond.length > 0 && `Diamond Level`
                }
              />
              {content.sponsors.diamond.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/2023/toronto/sponsors/2023/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.gold.length > 0 && (
            <div id="sponsors-grain">
              <h3 set:text={content.sponsors.gold.length > 0 && `Gold Level`} />
              {content.sponsors.gold.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/2023/toronto/sponsors/2023/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.silver.length > 0 && (
            <div id="sponsors-blend">
              <h3
                set:text={content.sponsors.silver.length > 0 && `Silver Level`}
              />
              {content.sponsors.silver.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/2023/toronto/sponsors/2023/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.speaker.length > 0 && (
            <div id="sponsors-speaker">
              <h3
                set:text={
                  content.sponsors.speaker.length > 0 && `Bronze Sponsors`
                }
              />
              {content.sponsors.speaker.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/2023/toronto/sponsors/2023/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.community.length > 0 && (
            <div id="sponsors-community">
              <h3
                set:text={
                  content.sponsors.community.length > 0 && `Community Sponsors`
                }
              />
              {content.sponsors.community.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/2023/toronto/sponsors/2023/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }
        {
          content.sponsors.lanyard.length > 0 && (
            <div id="sponsors-community">
              <h3
                set:text={
                  content.sponsors.lanyard.length > 0 && `Lanyard Sponsors`
                }
              />
              {content.sponsors.lanyard.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/2023/toronto/sponsors/2023/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }
      </div>
      <!--Sponsers END -->
    </div>
  </section>

  <section class="introdiv">
    <div class="blue-leaf-container2">
      <img src={"/2023/toronto/mapleaf.png"} class="maple-leaf-blue" />
    </div>
    <div class="container">
      <h2 class="pull-right">Location</h2>

      <div>
        <!-- src="/venue/eicc.jpg" -->
        <img
          src="/2023/toronto/venue/toronto.jpg"
          style="float: right; max-width: 100%; margin: 4px; height:260px"
        />
        <h3>Conference Venue</h3>
        <p>
          <strong>Toronto Convention center,</strong><br />
          <!-- The Exchange, <br /> -->
          255 Front St W, <br />
          Toronto,<br />
          ON M5V 2W6, <br />
          Canada
        </p>
        <p>
          We have a negotiated rate with the One King West Hotel at 1 King West,
          Toronto. It’s approximately a 15-20 minute walk from the MTCC. There
          is limited availability so please use this link to book your hotel
          room.
        </p>
        <a
          class="small-button"
          href="https://bookings.travelclick.com/95964?groupID=3841445#/guestsandrooms"
          >Book Hotel</a
        >
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.210243379726!2d-79.38886168454019!3d43.643793961057014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d6785ffb55%3A0x4209e1f8fd986202!2sMetro%20Toronto%20Convention%20Centre!5e0!3m2!1sen!2s!4v1670663942650!5m2!1sen!2s"
      width="100%"
      height="600"
      style="border:0;"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

    <!-- <div class="container">
      <div class="pull-right">
        <img
          src="/venue/hilton.jpg"
          style="float: left; max-width: 100%; margin: 4px;"
        />
        <h3 class="pull-right">Hotel</h3>
        <p>
          We have secured some reduced rate at the Hampton by Hilton for
          KubeHuddle attendees.
        </p>
        <p>
          When selecting your room, use the group code: <a
            href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=EDIFBHX&arrivalDate=2022-10-02&departureDate=2022-10-04&groupCode=CHHGKH&room1NumAdults=1&cid=OM%2CWW%2CHILTONLINK%2CEN%2CDirectLink"
            >CHHGKH</a
          >.
        </p>
        <p>
          <strong>Toronto Convention center,</strong><br />
          255 Front St W, <br />
          Toronto,<br />
          ON M5V 2W6, <br />
          Canada
        </p>
      </div>
    </div> -->
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.390582441899!2d-3.214435283423262!3d55.94260198060458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7a13f156add%3A0x9227896966e2f4f6!2sHampton%20by%20Hilton%20Edinburgh%20West%20End!5e0!3m2!1sen!2suk!4v1658748794028!5m2!1sen!2suk"
      width="100%"
      height="600"
      style="border:0;"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe> -->
    <!-- allowfullscreen="" -->
    <div class="blue-leaf-container3">
      <img src={"/2023/toronto/mapleaf.png"} class="maple-leaf-blue" />
    </div>
  </section>
  <section>
    <div class="container">
      <h2>About</h2>

      <h3>Our Values</h3>

      <p>
        KubeHuddle is a community run conference and we want to ensure that
        everything we do and say is transparent and made publicly available.
      </p>

      <ul>
        <li>Our task list and what we’re planning is all public on GitHub</li>
        <li>Our sponsorship details are all public</li>
        <li>
          All titles submitted as potential sessions at KubeHuddle are public on
          Sessionize
        </li>
        <li>This website is open source</li>
        <li>
          Currently KubeHuddle Toronto is being run through my company
          (@virtualized6ix). The long term plan is to migrate this to a
          non-profit setting however this requires proper accounting and
          approval from the Canadian Government and Revenue Agency. As such, all
          financial transactions of funds coming in and going out will be made
          publicly available.
        </li>
      </ul>

      <h3>Organizers</h3>

      <div id="organizers" class="center fig-holder">
        {
          content.organizers.map((item) => (
            <a href={item.href} target="_blank">
              <figure>
                <img
                  class="width_organiser"
                  src={"/2023/toronto/organizers/" + item.image}
                />
                <figcaption>{item.name}</figcaption>
              </figure>
            </a>
          ))
        }
      </div>
    </div>
  </section>
  <div class="lineleaf"></div>
  <div class="blue-leaf-container4">
    <img src={"/2023/toronto/mapleaf.png"} class="maple-leaf-blue" />
  </div>
</MainLayout>
