---
const { title, timeline } = Astro.props;
---

<div class="programme-track">
  <summary><h4>{title}</h4></summary>
  <ul class="agenda">
  {timeline.map(item => (
    <li>
      <time>{item.start}</time>
      <div>
        <div class="agenda-title">
          <div>{item.title} </div>
					<div>{item.speaker}</div>
        </div>
        <div class="agenda-content" set:html={item.description}></div>
      </div>
    </li>
  ))}
  </ul>
</div>

<style>
.programme-track {
	width: 100%;
}

.programme-track h4 {
	text-decoration: underline;
}

@media (min-width: 50em) {
	.programme-track {
		width: 50%;
	}
	.agenda li>div {
		height: 100px;
	}
}

.agenda {
	list-style: none;
	padding: 0
}

.agenda time {
	font-weight: bold
}

.agenda p {
	margin-top: .2em;
	margin-bottom: .5em
}

.agenda li {
}

.agenda li>div {
	border-left: 1px dashed #ccc;
	margin: 0 20px 0;
	padding: 2px 20px 20px
}

.agenda li>div::before {
	content: attr(data-time);
	position: relative;
	top: 50%
}

.agenda .agenda-title {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 5px 0
}

.agenda-content {
	font-size: 0.9em;
}

.agenda::after {
	content: '👋';
	position: relative;
	left: 0.5em
}

</style>
