---
import MainLayout from "../../layouts/MainLayout.astro";
import Speaker from "../../components/Speaker/Speaker.astro";
import Agenda from "../../components/Agenda/Agenda.astro";

import { agenda, speakers } from "../../../data/combined.json";

const content = {
  title: "2022",
  description: "The 2022 (Edinburgh) Edition of KubeHuddle, October 3rd-4th",
  date: "October 3rd and 4th, 2022",
  location: "Edinburgh International Conference Centre, Edinburgh, Scotland",
  sponsors: {
    malt: [
      {
        name: "Lloyds Banking Group",
        logo: "lbg.png",
        href: "https://www.lloydsbankinggroup.com/",
      },
      {
        name: "ControlPlane",
        logo: "control-plane.png",
        href: "https://controlplane.io",
      },
    ],
    grain: [
      { name: "Solo.io", logo: "solo-io.png", href: "https://solo.io" },
      {
        name: "Teleport",
        logo: "teleport.png",
        href: "https://goteleport.com/",
      },
      { name: "Loft", logo: "loft.png", href: "https://loft.sh/" },
    ],
    blend: [
      {
        name: "Giant Swarm",
        logo: "giant-swarm.png",
        href: "https://giantswarm.io",
      },
      {
        name: "Civo",
        logo: "civo.png",
        href: "https://www.civo.com/?utm_source=event&utm_medium=kubehuddle&utm_campaign=kubehuddle-homepage",
      },
      { name: "Pulumi", logo: "pulumi.png", href: "https://pulumi.com" },
      { name: "Jetstack", logo: "jetstack.png", href: "https://jetstack.io" },
      {
        name: "Isovalent",
        logo: "isovalent.png",
        href: "https://isovalent.com",
      },
      {
        name: "Skyscanner",
        logo: "skyscanner.png",
        href: "https://skyscannerscotland.net",
      },
    ],
    speaker: [
      {
        name: "Civo",
        logo: "civo.png",
        href: "https://www.civo.com/?utm_source=event&utm_medium=kubehuddle&utm_campaign=kubehuddle-homepage",
      },
      {
        name: "Giant Swarm",
        logo: "giant-swarm.png",
        href: "https://giantswarm.io",
      },
      {
        name: "Quarkslab",
        logo: "quarkslab.png",
        href: "https://www.quarkslab.com/",
      },
      {
        name: "Replicated",
        logo: "replicated.png",
        href: "https://www.replicated.com/",
      },
      { name: "Gimlet", logo: "gimlet.png", href: "https://gimlet.io/" },
      {
        name: "Kasten by VEAM",
        logo: "kasten.png",
        href: "https://kasten.io/",
      },
      { name: "CrowdSec", logo: "crowdsec.png", href: "https://crowdsec.net/" },
      { name: "Upbound", logo: "upbound.png", href: "https://upbound.io/" },
    ],
    community: [
      {
        name: "Community Classroom",
        logo: "commclassroom.webp",
        href: "https://www.commclassroom.org/",
      },
      {
        name: "EddieHub",
        logo: "eddiehub.webp",
        href: "https://www.eddiehub.org/",
      },
      {
        name: "KubeSimplify",
        logo: "kubesimplify.jpeg",
        href: "https://www.kubesimplify.com/",
      },
      {
        name: "Rawkode Academy",
        logo: "rawkodeacademy.png",
        href: "https://rawkode.live/",
      },
    ],
  },
  organizers: [
    {
      name: "David Flanagan",
      image: "rawkode.jpg",
      href: "https://twitter.com/rawkode",
    },
    {
      name: "Adrian Mouat",
      image: "adrianmouat.jpg",
      href: "https://twitter.com/adrianmouat",
    },
  ],
};
---

<MainLayout {content}>
  <section id="intro">
    <div class="container">
      <h3 class="center">
        The inaugural KubeHuddle conference, hosted in the beautiful Scottish
        capital, Edinburgh.
      </h3>

      <p>
        KubeHuddle is Scotland’s first Kubernetes conference, hosted and
        organized by the Scottish community.
      </p>

      <p>
        You can buy tickets <em>now</em>. We have limited tickets available at
        each price point:
      </p>

      <ul>
        <li>
          <strike>Believer - £100 GBP</strike>
          <strong>[SOLD OUT]</strong>
        </li>
        <li>
          <strike>Early Bird - £150 GBP</strike>
          <strong>[SOLD OUT]</strong>
        </li>
        <li><strike>Standard - £200 GBP</strike><strong>[SOLD OUT]</strong></li>
      </ul>

      <div class="center">
        <a href="https://buytickets.at/KubeHuddle" class="big-button"
          >Get Your Ticket</a
        >
      </div>

      <p>
        If you’re unable to afford a ticket, we may be able to help with our
        diversity and inclusion tickets, kindly sponsored by members and
        organizations within our community.
        <a href="mailto:organizers@kubehuddle.com">✉️ Speak to us</a>
      </p>
    </div>
  </section>

  <section id="programme">
    <div class="container">
      <h2 class="pull-right">Programme</h2>

      <div>
        <strong>Track 1 - Introductions & Intermediate Presentations</strong><br
        />
        <p>
          This track will feature beginner friendly and intermediate content to
          cater for a wide variety of experiences, including beginers to
          Kubernetes.
        </p>

        <strong>Track 2 - Advanced Presentations</strong>
        <p>
          This track will feature advanced Kubernetes topics revolving around
          scale, multi-tenancy, and operations - you know, all that “fun” stuff.
        </p>

        <strong>Collaboration Space</strong>
        <p>
          There will be tables provided for people that want to sit with their
          laptops and collaborate with others, perhaps hacking on a cool new
          operator? <br />
          A small selection of workshops and tutorials will also be available throughout
          the two days, at no extra cost.
        </p>

        <strong>Socials</strong>
        <p>
          There will be a small social on <strong>Sunday, October 2nd</strong>,
          and the main social on <strong>Monday October 3rd</strong>.<br />
          <em>More details coming soon...</em>
        </p>
      </div>

      {agenda[0] && <Agenda agenda={agenda[0]} />}
      {agenda[1] && <Agenda agenda={agenda[1]} />}
    </div>
  </section>

  <section id="speakers">
    <div class="container">
      <h2>Speakers</h2>

      <p>
        Our call for papers is now closed. We will announce our speakers
        shortly.
      </p>

      <div class="fig-holder center">
        {speakers.map((speaker) => <Speaker {speaker} />)}
      </div>
    </div>
  </section>

  <section id="sponsors">
    <div class="container">
      <h2>Sponsors</h2>

      <p>
        If you’d like to support this conference, you can find details on our <a
          href="/sponsorship">sponsorship opportunities page</a
        >.
      </p>

      <div class="fig-holder">
        {
          content.sponsors.malt.length > 0 && (
            <div id="sponsors-malt">
              <h3 set:text={content.sponsors.malt.length > 0 && `Malt Level`} />
              {content.sponsors.malt.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/sponsors/2022/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.grain.length > 0 && (
            <div id="sponsors-grain">
              <h3
                set:text={content.sponsors.grain.length > 0 && `Grain Level`}
              />
              {content.sponsors.grain.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/sponsors/2022/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.blend.length > 0 && (
            <div id="sponsors-blend">
              <h3
                set:text={content.sponsors.blend.length > 0 && `Blend Level`}
              />
              {content.sponsors.blend.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/sponsors/2022/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.speaker.length > 0 && (
            <div id="sponsors-speaker">
              <h3
                set:text={
                  content.sponsors.speaker.length > 0 && `Speaker Sponsors`
                }
              />
              {content.sponsors.speaker.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/sponsors/2022/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }

        {
          content.sponsors.community.length > 0 && (
            <div id="sponsors-community">
              <h3
                set:text={
                  content.sponsors.community.length > 0 && `Community Sponsors`
                }
              />
              {content.sponsors.community.map((item) => (
                <a href={item.href} target="_blank">
                  <figure>
                    <img src={"/sponsors/2022/" + item.logo} />
                    <figcaption>{item.name}</figcaption>
                  </figure>
                </a>
              ))}
            </div>
          )
        }
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="pull-right">Location</h2>

      <div>
        <img
          src="/venue/eicc.jpg"
          style="float: right; max-width: 100%; margin: 4px;"
        />
        <h3>Conference Venue</h3>
        <p>
          <strong>Edinburgh International Conference Centre,</strong><br />
          The Exchange, <br />
          150 Morrison St, <br />
          Edinburgh,<br />
          EH3 8EE, <br />
          Scotland
        </p>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.2547738596946!2d-3.2103337929643794!3d55.94596388784876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7a3b36f1d59%3A0x8e1efde2c5173ff1!2sEdinburgh%20International%20Conference%20Centre!5e0!3m2!1sen!2suk!4v1658471625780!5m2!1sen!2suk"
      width="100%"
      height="600"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="container">
      <div class="pull-right">
        <img
          src="/venue/hilton.jpg"
          style="float: left; max-width: 100%; margin: 4px;"
        />
        <h3 class="pull-right">Hotel</h3>
        <p>
          We have secured some reduced rate at the Hampton by Hilton for
          KubeHuddle attendees.
        </p>
        <p>
          When selecting your room, use the group code: <a
            href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=EDIFBHX&arrivalDate=2022-10-02&departureDate=2022-10-04&groupCode=CHHGKH&room1NumAdults=1&cid=OM%2CWW%2CHILTONLINK%2CEN%2CDirectLink"
            >CHHGKH</a
          >.
        </p>
        <p>
          <strong>Hampton by Hilton Edinburgh West End</strong><br />
          166 Fountainbridge,<br />
          Edinburgh,<br />
          EH3 9RX<br />
          Scotland
        </p>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.390582441899!2d-3.214435283423262!3d55.94260198060458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7a13f156add%3A0x9227896966e2f4f6!2sHampton%20by%20Hilton%20Edinburgh%20West%20End!5e0!3m2!1sen!2suk!4v1658748794028!5m2!1sen!2suk"
      width="100%"
      height="600"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <section>
    <div class="container">
      <h2>About</h2>

      <h3>Our Values</h3>

      <p>
        KubeHuddle is a community run conference and we want to ensure that
        everything we do and say is transparent and made publicly available.
      </p>

      <ul>
        <li>Our task list and what we’re planning is all public on GitHub</li>
        <li>Our sponsorship details are all public</li>
        <li>
          All titles submitted as potential sessions at KubeHuddle are public on
          Sessionize
        </li>
        <li>This website is open source</li>
        <li>
          Currently KubeHuddle is being run through my (@rawkode) company, but
          after the first event we’ll migrate this to a non-profit. All
          financial transactions for KubeHuddle will be made public as soon as I
          find a nice way to handle that.
        </li>
      </ul>

      <h3>Organizers</h3>

      <div id="organizers" class="center fig-holder">
        {
          content.organizers.map((item) => (
            <a href={item.href} target="_blank">
              <figure>
                <img src={"/organizers/2022/" + item.image} />
                <figcaption>{item.name}</figcaption>
              </figure>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</MainLayout>
