---
import MainLayout from '../../layouts/MainLayout.astro';
import Speaker from '../../components/Speaker/Speaker.astro'
import Agenda from '../../components/Agenda/Agenda.astro'

const content = {
  title: "2022",
  description: "The 2022 (Edinburgh) Edition of KubeHuddle, October 3rd-4th",
  date: "October 3rd and 4th, 2022",
  location: "Edinburgh International Conference Centre, Edinburgh, Scotland",
  sponsors: {
    malt: [
    ],
    grain: [
      { name: "Solo.io", logo: "solo-io.png", href: "https://solo.io" },
      { name: "ControlPlane", logo: "control-plane.png", href: "https://controlplane.io" },
      { name: "Teleport", logo: "teleport.png", href: "https://goteleport.com/" }
    ],
    blend: [
      { name: "Giant Swarm", logo: "giant-swarm.png", href: "https://giantswarm.io" },
      { name: "Civo", logo: "civo.png", href: "https://civo.com" },
      { name: "Pulumi", logo: "pulumi.png", href: "https://pulumi.com" },
      { name: "Jetstack", logo: "jetstack.png", href: "https://jetstack.io" }
    ]
  },
  organizers: [
    { name: "David Flanagan", image: "rawkode.jpg", href: "https://twitter.com/rawkode" },
    { name: "Adrian Mouat", image: "adrianmouat.jpg", href: "https://twitter.com/adrianmouat" }
  ],
  speakers: [
    {
      "name":"Ádám Szücs-Mátyás","image":"https://sessionize.com/image/a440-400o400o2-ssCRdFnvfhkNcEiENcFaVT.jpg","href": "http://twitter.com/szucsitg",
      "bio":"Adam is leading to currently leading cloud transformation and redesigned Kubernetes deployment across the organisation. Security is crucial in what we deliver to our customers, therefore everything we do has to meet the highest standards. He has 5 years experience with Kubernetes and over 2 years with GitOps, and use this knowledge to deliver impactful changes across engineering and how they work and deliver software.",
      "talks": [
        {
          "title": "The Dark Side of GitOps: Unanswered Real-life Challenges",
          "abstract": "You’ve probably heard all the benefits of GitOps practices, but even most trivial challenges are going unanswered in vendor demos and keynotes. Things like how I promote between environments, how can I handle infrastructure, what if I already got infrastructure that is managed by others like networking…\r\nDeploying to Kubernetes with GitOps is quite mature, though you’ll need additional services like databases, clusters. You’ll find that if you’d use Cluster API, Crossplane, AWS Controllers for Kubernetes it might solve your issue until it doesn’t integrate as you’d imagine.\r\nDuring this presentation I’ll go through some of the challenges we faced during rewriting LastPass’ full deployment model, solving end-to-end automation for real-life while writing less YAML files by moving towards Infrastructure as Software.",
          "format": "Presentation (20m)",
          "level": "Advanced"
        }
      ]
    },
    {
      "name":"Alex Jones","image":"https://sessionize.com/image/9b23-400o400o2-92VnVcwwfnUv84qQmbbN17.jpg","href": "https://www.twitter.com/alexjonesax",
      "bio":"Alex works as both a contributor and end-user of cloud-native technology. He spends his work-time translating tooling, practices and behaviours into generators of strategic value and positive cultural change.\r\n\r\nHis passion is to create positive engineering cultures that enable inclusivity and diversity as a core attribute rather than a vague goal. Enabling engineers to build more reliable services through shared accountability, observability and automation of toil.\r\n\r\nHe has worked at companies such as JPMorgan, American Express, Microsoft, British Sky Broadcasting.",
      "talks": [
        {
          "title": "Crowdsourcing a Kubernetes distribution: What we learnt with MicroK8s",
          "abstract": "MicroK8s went from a part-time project to an Open-source success story available on every Ubuntu server in the world. \r\n\r\n\r\nHowever, behind its meteoric rise in usage, we struggled to balance the needs of end-users, the challenges of competition and \r\n\r\nIn this talk we’ll talk about how it took us time to realise the power of community, to build a way to enable them to help guide our roadmap and to truly recognise the power of crowdsourcing engineering through open source.\r\n",
          "format": "Presentation (20m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Alexander Trelore","image":"https://sessionize.com/image/5d34-400o400o2-Rd5GaGeVj9NErqUyaH79s.png","href": "https://twitter.com/alexanderjophus",
      "bio":"Alexander is a senior software engineer at Replicated, where he is responsible for a collection of backend Go micro-services. In his spare time he streams various software projects on twitch, ranging from making video games, to toying with CNCF projects.",
      "talks": [
        {
          "title": "How to automate troubleshooting a k8s cluster environment",
          "abstract": "This session will introduce troubleshoot.sh, an open source project that helps diagnose common issues that could impact the successful deployment and operation of a Kubernetes cluster. We'll talk about how to use out-of-the-box tools, plus show you how to write your own custom collectors and analysers. Together these components should help identify issues before you install and once you are up and running.",
          "format": "Presentation (20m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Amanda Brock","image":"https://sessionize.com/image/f6c0-400o400o2-nLW7FT9pK3WdKGuJ6cjdMn.jpg","href": "https://twitter.com/AmandaBrockUK",
      "bio":"Amanda Brock is CEO of OpenUK, the UK organisation for the business of Open Technology in the UK – being open source software, open hardware and open data -with a purpose of UK Leadership and International Collaboration in Open Technology.\r\nShe is a Board Member of the Open Source Initiative; UK Cabinet Office Open Standards Board Member; British Computer Society Inaugural Influence Board Member; Advisory Board Member: KDE, Planet Crust, and Mimoto; Charity Trustee, Creative Crieff and GeekZone; and European Representative of the Open Invention Network.   \r\n\r\nA lawyer of 25 years’ experience, she previously chaired the Open Source and IP Advisory Group of the United Nations Technology Innovation Labs, sat on the OASIS Open Projects and UK Government Energy Sector Digitalisation Task Force. Advisory Boards. She was General Counsel of Canonical for 5 years and set up their legal function.\r\n\r\nAmanda was awarded the 2022 UK Lifetime Achievement Award in the Women, Influence & Power Awards, and included in Computer Weekly’s Most influential Women in Tech Long list in 2021 and in their UK Tech50 longlist for 2022. \r\n\r\nShe is the editor of Open Source, Law, Policy and Practise,  second edition being published by Oxford University Press in September 2022 and with open access thanks to the Vietsch Foundation.  \r\n\r\nlinkedin.com/in/amandabrocktech/\r\n@openuk_uk @amandabrockUK\r\n",
      "talks": [
        {
          "title": "State of Open - what is open source and why it matters in Scotland today",
          "abstract": "A strategic scene setting of open source and how it got to its premier status in the software market today, an update from OpenUK's State of Open : The UK in 2022 report, and a strategic view on curation, stewardship and the future of open source in the enterprise and public sector as it becomes our critical national infrastructure. ",
          "format": "Presentation (40m)",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Andrew Martin","image":"https://sessionize.com/image/658b-400o400o2-nAcLLmXGZbur9tHHDZeZgf.jpg","href": "https://twitter.com/sublimino",
      "bio":"Andrew has an incisive security engineering ethos gained building and destroying high-traffic web applications. Proficient in systems development, testing, and operations, he is at his happiest profiling and securing every tier of a cloud native system, and has battle-hardened experience delivering containerised solutions to enterprise and government. He is CEO at https://control-plane.io ",
      "talks": [
        {
          "title": "Hacking Kubernetes: Live Demo Marathon",
          "abstract": "In a live evocation of the recent O’Reilly title Hacking Kubernetes (Martin, Hausenblas, 2021), this ultimate guide to threat-driven Kubernetes defence threat models and details how to attack and defend your precious clusters from nefarious adversaries. \r\n\r\nThis broad and detailed appraisal of end-to-end cluster security teaches you how to attack and defend against a range of historical and current CVEs, misconfigurations, and advanced threats:\r\n\r\n- See the historical relevance of CVEs and demonstrations of attacks against your containers, pods, supply chain, network, storage, policy, and wider organisation\r\n- Understand when to use next-generation runtimes like gVisor, firecracker, and Kata Containers\r\n- Delve into workload identity and advanced runtime hardening\r\n- Consider the trust boundaries in soft- and hard-multitenant systems to appraise and limit the effects of compromise\r\n- Learn to navigate the choppy waters of advanced Kubernetes security \r\n",
          "format": "Presentation (40m)",
          "level": "Advanced"
        },
        {
          "title": "Capture the Flag - Kubernetes Edition",
          "abstract": "Delve deeper into the dark and mysterious world of Kubernetes security!  Exploit a supply chain attack and start your journey deep inside the target infrastructure, exploit your position to hunt and collect the flags, and hopefully learn something new and wryly amusing along the way!\r\n\r\nAttendees can play six increasingly beguiling and demanding scenarios to bushwhack their way through the dense jungle of Kubernetes security. Everybody is welcome, from beginner to hardened veteran, as we venture amongst the low-hanging fruits of insecure configuration and scale the lofty peaks of cluster compromise!\r\n\r\n\r\n\r\nTo attend this workshop, you will need a laptop (or tablet if so inclined) as well as a basic understanding of how to interact with Linux from a terminal (e.g. ls, cd, cat, grep).  You will be given access to a cluster and it's up to you if you'd like to run this alone or as part of a team.",
          "format": "Tutorial / Workshop",
          "level": "Advanced"
        }
      ]
    },
    {
      "name":"Anton Sankov","image":"https://sessionize.com/image/1422-400o400o2-Xnscsrh36NdKfqcuZX1S1f.jpeg","href": "https://twitter.com/a_sankov",
      "bio":"Anton is a software engineer at VMware Carbon Black. He has a strong engineering background, having previously worked at market leaders in multiple industries - from payments, to cloud and infrastructure provisioning. At VMware, he is helping define the future of container and cloud security. The Kubernetes ecosystem is interesting to him because of its elegant solutions to real-world problems and constant drive for innovation.",
      "talks": [
        {
          "title": "Securing Kubernetes with Open Policy Agent",
          "abstract": "Kubernetes RBAC goes as far as whether a user can or cannot create new Kubernetes resources. However, it does not provide any capabilities for having more granular control on what resources can be created and what properties they might have. Validation webhooks fix that problem. They allow the user to define custom logic that looks at the resource being created/edited and, based on their properties, to allow or deny the operation.\r\n\r\nGatekeeper is an implementation of a validation webhook that uses Open Policy Agent and allows you to define policies via the Rego language. These policies are applied to the Kube API server and live in Kubernetes as first-class citizens.\r\n\r\nThis presentation will describe what validating webhooks are, how they work and how OPA and Gatekeeper leverage this functionality to protect your Kubernetes cluster. We will also dive into Rego and write our custom OPA policies.",
          "format": "Presentation (20m)",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Denis Jannot","image":"https://sessionize.com/image/d479-400o400o2-JHQxPvTVZvWBXDB88EFD9B.jpg","href": "https://twitter.com/djannot",
      "bio":"Denis is the Director of Field Engineering at Solo.io, a company building application networking solutions for the edge and service mesh. Denis is a passionate engineer who has spent his career in technical roles working directly with customers and users in architecting and adopting technologies like Object Storage, Big Data, Containerization, Service Mesh into their infrastructure. He enjoys sharing what he learns with the community and can be found creating demos, writing blogs, and speaking at events. ",
      "talks": [
        {
          "title": "Step by step Kubernetes observability with eBPF",
          "abstract": "In this talk, I'm exploring how someone can use eBPF to get insights about the communications happening in a Kubernetes cluster.\r\nI write an eBPF program and then use the BumbleBee (https://github.com/solo-io/bumblebee) open source project to build and deploy it.\r\nThis program gathers information about all the network communications happening in the cluster and publish the corresponding metrics that I store on Prometheus.\r\nI then deploy a service gets the metrics and correlate them with the Pod and Service IP addresses to build a graph displaying all the communications.",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        },
        {
          "title": "eBPF workshop",
          "abstract": "eBPF is a revolutionary technology with origins in the Linux kernel that can run sandboxed programs in an operating system kernel.\r\nIt is used to safely and efficiently extend the capabilities of the kernel without requiring to change kernel source code or load kernel modules.\r\nBumbleBee (https://github.com/solo-io/bumblebee) is a new Open Source project which helps to build, run and distribute eBPF programs using OCI images.\r\nIt allows you to focus on writing eBPF code, while taking care of the user space components - automatically exposing your data as metrics or logs.\r\nIn this workshop, we're introducing eBPF and the different ways to create eBPF programs.\r\nThen, attendees are creating their first eBPF program using BCC and libbpf to have a better understanding of the main concepts.\r\nFinally, they are going through several labs to build and deploy an eBPF program with BumbleBee. They also deploy Prometheus and a web application on Kubernetes to display all the communications happening in the  Kubernetes cluster.",
          "format": "Tutorial / Workshop",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Engin Diri","image":"https://sessionize.com/image/f662-400o400o2-CFsh8UmnLukfYrV51VFPk.jpg","href": "https://twitter.com/_ediri",
      "bio":"My name is Engin Diri and I work for more than 15 years in the IT industry. Started as a Java developer and went there from fronted to backend development until I found my sweet spot in all things related to CI/CD and cloud topics.\r\n\r\nCurrently, I am working in the Schwarz Group, the people behind the big retail brands Lidl and Kaufland. Here I help different projects and teams on their journey to the cloud.\r\n\r\nI love everything about Cloud, Cloud Transformation and Enablement. I am a multi-cloud person with a strong passion for Kubernetes. Furthermore, I am very curious and love to try out new technologies.",
      "talks": [
        {
          "title": "K8s & meat: How we got Kubernetes into the Kaufland meat processing factories",
          "abstract": "Kubernetes, Kubernetes everywhere. Without any doubt, the adoption and usage of Kubernetes skyrocketed through the entire IT world. From tech-savvy startups, working on their next unicorn product, to conservative insurance companies increasing productivity and reducing time to market. It's hard to not see all the  benefits Kubernetes creates to IT organization. \r\n\r\nSo it was a matter of time, that our very own business gave us the task: Bring Kubernetes to our production facilities, and start with the Kaufland meat processing factories.\r\n\r\nIn this talk, I want to share our one-year-long journey to accomplish this mission. Sharing all the mistakes and the successes we made during this huge project. From learnings about all the security and compliance requirements when working in the industrial area to enabling the platform and application teams.  Of course, we will talk about all the technics we used like GitOps, Infrastructure as Code, Policy as Code and so on. \r\n\r\nIn short: k8s & meat, it's not always as tender as we thought it would.",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Filipi Pires","image":"https://sessionize.com/image/ce80-400o400o2-7RzGhiAL2PpoCHfT3sQZXs.jpg","href": "https://twitter.com/FilipiPires",
      "bio":"I’ve been working as Security and Threat Researcher at Saporo, Founder at Black&White Technology, Developer Advocate at TestKube, Cybersecurity Advocate at senhasegura, Snyk Ambassador, Application Security Specialist and Hacking is NOT a crime Advocate. International Speakers in Security and New technologies events in many countries such as US, Canada, France, Spain, Germany, Poland, and others, I’ve been served as University Professor in Graduation and MBA courses at Brazilian colleges, in addition, I'm Creator and Instructor of the Course Malware Attack Types with Kill Chain Methodology (PentestMagazine) and Malware Analysis - Fundamentals (HackerSec).",
      "talks": [
        {
          "title": "Adopting the GitOps testing model into your Kubernetes CI/CD workflow",
          "abstract": "One of the major trends in contemporary cloud native application development is the adoption of GitOps when it comes to infrastructure automation. Testing will also be following this trend as the industry is getting more aware of the advantages of having tests be part of the state of application’s cluster. In this talk, we will discuss what those advantages are and how attendees can improve how testing is done on applications throughout their organization.\r\n\r\nLet’s have a look at TestKube, an open-source framework that aims to move cloud-native testing into Kubernetes. Whether you are using Postman, Cypress, JMeter, Selenium, or any other testing tool, TestKube will decouple your test execution pipeline from constraints specific to CI/CD tools and allow you to repurpose existing tests using a Kubernetes native approach to test orchestration, execution and test result management.",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Hamza Essahely","image":"https://sessionize.com/image/236f-400o400o2-LuAsCkcuWPrc4TTcz2a393.jpg","href": "https://twitter.com/h3ss_",
      "bio":"Coming from a sys admin then pentester/secops background, I'm now core developer at Crowdsec.",
      "talks": [
        {
          "title": "How to protect your Kubernetes cluster using Crowdsec",
          "abstract": "The [CrowdSec](https://github.com/crowdsecurity/crowdsec/) project aims at providing a crowdsourced approach to common infrastructure defense problems, by distributing free & open-source software allowing you to protect yourself and share information about malevolent actors.\r\n\r\nCrowdSec could be perceived as a modern form of Fail2ban, though for Cloud and container-based infrastructure as well and capable of taking way more advanced decisions a lot faster. Mainly, it’s using a decoupled and distributed approach (detect here, remedy there) and an inference engine that leverages leaky buckets, YAML & Grok patterns to identify aggressive behaviors. It acquires signals from various data sources like files, syslogd, journald, AWS Cloudwatch and Kinesis, Docker logs and Windows Event Log, normalizes them, enriches them to apply heuristics and triggers a bouncer to deal with the threat, if need be. Since it’s written in Go, it’s compatible with almost any environment, fast in execution and ressource conservative.\r\n\r\nThe endgame is the Reputation engine though. If you want to partake in the network to benefit from its findings, CrowdSec captures all aggression signals (timestamp, IP, behavior) and sends them for curation. That way, it establishes a reliable IP blacklist that is constantly redistributed to the network members, in order to achieve a form of Digital Herd Immunity. An IP caught aggressing WordPress sites will quickly be banned by all members using CrowdSec that subscribed to the WordPress defense collection. In that way, we share the IPs that are relevant to your technical context.\r\n\r\nWhile Crowdsec is in charge of the detection, the reaction is performed by \"bouncers\" that aim to be deployable at any level of the applicative / infrastructure stack : \r\n\r\n* via nftables/iptables/pf based on an IP set\r\n* via Nginx lua plugin\r\n* via Traefik middleware\r\n* on Cloudflare via our bouncer that integrates with Cloudflare API\r\n* Or GCP/AWS/Azure firewall, slack or scripting, notifications, etc.\r\n\r\n.. or in many other ways. Over time the possibilities will increase as the application design basically supports anything. \r\n\r\nThis approach, combined with a declarative configuration and a stateless behavior, will make it an ideal candidate to enhance the security of modern stacks (containers, kubernetes, serverless and more generally automatically deployed infrastructures).\r\n\r\nFurthermore, we intend to create and share the most accurate database of malevolent actors as possible, under the form of a real-time IP reputation system, accessible through API. Whenever an attack is locally blocked/detected by Crowdsec, the \"meta\" information of the attack is shared amongst participants (source ip, date and triggered scenario) for redistribution to network members.\r\n\r\nWe are committed to building a strong community, with all that it implies :\r\n* [a public hub](https://hub.crowdsec.net) to find, share and amend parsers, scenarios and blockers\r\n* permissive open-source license to stay business friendly\r\n* and overall a strong commitment to transparency and community-first mentality, by tooling and behavior\r\n\r\nThe microservice architecture is the most significant security challenge in a Kubernetes cluster. Every application you deploy opens a new potential entry for attackers, increasing the attack surface.\r\nIn this talk, we'll present the Crowdsec project and see how we can protect a kubernetes cluster using Crowdsec and the power of the Crowd.\r\n",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"James Laverack","image":"https://sessionize.com/image/f827-400o400o2-QGoqS8nmKW1Md53pw6NHuk.jpg","href": "https://twitter.com/jameslaverack",
      "bio":"James is a engineer specialising in cloud native software and distributed systems. He’s an active contributor to the Kubernetes project and has been on the release team for Kubernetes v1.18 through v1.24, culminating in being the Release Team Lead for Kubernetes 1.24 Stargazer. ✨\r\n\r\nBefore Jetstack, James worked as an application developer in fintech.",
      "talks": [
        {
          "title": "Building Operators for Legacy Software or: Running Minecraft on Kubernetes",
          "abstract": "I've always loved Minecraft, and I've always loved playing it with my friends. Being the one with a home server, I setup my own Minecraft server. Soon I wanted to manage it with Kubernetes like the rest of my applications, and wanted to automate common tasks like backups and upgrades.\r\n\r\nSo I made an operator. This talk will cover the how of making an operator for a 'legacy' application that is not designed to be cloud-native, and why you might want to do it.\r\n\r\nThe operator is open source at https://github.com/jameslaverack/minecraft-operator. The operator and the talk are not endorsed by Mojang Studios or Microsoft in any way.",
          "format": "Presentation (20m)",
          "level": "Advanced"
        }
      ]
    },
    {
      "name":"Krisztian Fekete","image":"https://sessionize.com/image/ccbd-400o400o2-BtuJCUAixu91e3queLtJGw.jpg","href": "https://twitter.com/kfekete",
      "bio":"Krisztian is enthusiastic about observability and cloud infrastructures. He's now working at Solo.io as a Field engineer. Previously, he was working at LastPass as senior DevOps/SRE engineer. Krisztian is building a self hosted blog on top of Istio in his spare time. The main topics of the blog are aligned with his interests while he is also using the platform to share operational anecdotes on running one of the most \"over-engineered\" blog out there.",
      "talks": [
        {
          "title": "BumbleBee: Or How I Learned To Stop Worrying And Love eBPF",
          "abstract": "eBPF is hard. There are more and more docs and blogs, but the learning curve seems to be really steep. Where could you possibly start to play around with this new technology? \r\nIn this talk, I will briefly introduce the (e)BPF landscape, then show you one of the easiest way to get started with eBPF. We will explore existing tools, and see what it takes to drop them into a Kubernetes cluster, and learn how can you expose their output as Prometheus metrics with only a few keystrokes.",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Kunal Kushwaha","image":"https://sessionize.com/image/a7b2-400o400o2-h44XEk6whtrCPhskerGNoJ.jpg","href": "https://twitter.com/kunalstwt",
      "bio":"Kunal is working towards empowering communities via Open Source and Education. He finds passion in teaching and has taught thousands of folks online and in person. He is currently a Developer Advocate at Civo, CNCF Ambassador, track chair of the KubeCon + CloudNativeCon student track, Major League Hacking Coach. In the past, he has been a Google Summer of Code Mentor at Red Hat Middleware, Student Program Manager at Data on Kubernetes Community, part of the Kubernetes release team, and a TEDx speaker. He is the founder of Kubeworld, Community Classroom, and also started the official Cloud Native Student Community group joined by thousands of students, focussed on getting more young people involved in the ecosystem.",
      "talks": [
        {
          "title": "Kubernetes cost monitoring best practices",
          "abstract": "There have been scenarios in which companies struggle to understand where they spend their cloud budget. For example, distinguishing between projects, teams, and applications with infrastructure services utilising them. Starting with why cost monitoring is essential, in this session, we'll learn about some of the best practices for monitoring your Kubernetes costs to maximise efficiency and reduce spending across teams, followed by some of the approaches we have seen organisations follow. Cost allocation can be complex in Kubernetes; hence, we'll also discuss what cost allocation models should be used. Such a set of best practices can reduce cloud spend and increase awareness within one's organisation.",
          "format": "Presentation (20m)",
          "level": "Intermediate"
        },
        {
          "title": "Scaling Communities to be more Inclusive",
          "abstract": "Being an open-source enthusiast, Kunal believes that diversity in the workplace and participation from people hailing from different cultures is necessary as well as instrumental for the growth of the IT sector. It exposes one to the multitude of values and principles that people from varying ethnicities hold. Meeting people from around the world teaches people to respect opposing perspectives and opinions, and ingrains in them respect for their peers.\r\n\r\nHe finds passion in teaching and has taught thousands of students both online and in-person. He is the founder of Community Classroom, an organisation focussed on providing training & mentorship, free of cost. He also started the Official Cloud Native Student Community group joined by thousands of students, focussed on getting more young people involved in the Cloud Native world. These platforms are utilised by conducting hands-on workshops, events, podcasts, and sharing about opportunities in the field.\r\n\r\nThe talk is going to be focussed around what defines a community, and figuring out what are the community's shared struggles. It’s also important to know what is the mission of your community and what members look to get out of it. Communication is key and we’ll also talk about how to future proof your community. Regarding diversity and inclusion, it’s important to know who might be excluded from accessing your community activities in their current form. We’ll also discuss about what are some of the negative scenarios which might happen while running activities for your community which will make them less inclusive to marginalised groups. Following up with designing for your community's needs, and last but not least, having a Code of Conduct.\r\n\r\nAttendees will learn about: \r\nHow to start a new community and make it inclusive from the beginning.\r\nHow to scale communities to under-representative groups\r\nHow to deal with conflicts and take care of your audience’s needs.",
          "format": "Lightning Talk / Ignite",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Laszlo Fogas","image":"https://sessionize.com/image/3b06-400o400o2-75xj9MJJsfNUSFrtHr11eL.jpg","href": "https://twitter.com/laszlocph",
      "bio":"Laszlo is the founder of https://gimlet.io, a 100% open-source gitops based developer platform.\r\n\r\n\r\nPrior to that, Laszlo spent 5 years consulting, and building dev platforms on Kubernetes for mid-sized SaaS businesses of the Nordics region.",
      "talks": [
        {
          "title": "ClickOps over GitOps",
          "abstract": "The delta between Kubernetes and a developer friendly PaaS is where the next layer of value is being created today. Many products are racing to fill the void that is called Kubernetes developer experience. This is also the place where things get opinionated, a requirement for reliable end to end workflows.\r\n\r\nIn this talk you will learn about Gimlet.io's approach on how Kubernetes UIs can be quick to use, and safe at the same time.\r\n\r\nIn this talk you will see how you can create a developer platform - with the usual components Cert-Manager, Nginx Ingress etc - and deploy on it with only clicking on a dashboard. You will also see that behind the curtains, all Gimlet does is writing yamls into a git repository. ClickOps.. over GitOps.",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Lian Li","image":"https://sessionize.com/image/ad80-400o400o2-TarEMJZv6oVwnGpkDs7bUW.png","href": "https://twitter.com/lianmakesthings",
      "bio":"Lian always wanted to save the world\r\n\r\nAfter a failed attempt at becoming a lawyer, she decided to do something with computers instead. Working as a Fullstack Software Engineer, she got into attending tech events and giving talks on Machine Learning. During this time, she fell in love with the tech community and discovered her passion for building community and providing a safe and productive environment for all, which led to her co-organising the community conference ServerlessDays Amsterdam.\r\n\r\nCurrently, Lian lives in Amsterdam and works as Developer Advocate at Loft Labs, trying to make developing on Kubernetes easy and fun.",
      "talks": [
        {
          "title": "Secret Management: The Soft Way",
          "abstract": "Secrets. Security best-practices mandate that they stay away from the code—or else! And that’s what we did for a long time.\r\nBut as CI/CD practices evolved, for a myriad of reasons, we now want to ship the code, the environment, and the secrets, all in one lump. So, we can’t hide the secrets anymore… unless?\r\n\r\nTools like HashiCorp Vault attempt to address this by managing secrets outside the delivery chain. Great! But you can’t use those inside local dev environments, so… When that’s precisely what you need to do, then what?\r\n\r\nIn this talk, Lian will show the audience how to manage secrets the GitOps way, so you can maintain security best-practices while also being able to use them in your local environment for development. Sound like magic? That’s because it is.\r\n\r\nAfter this talk, the audience will be able to understand secret management solutions that work seamlessly in a variety of environments.",
          "format": "Presentation (40m)",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Mahé Tardy","image":"https://sessionize.com/image/71ac-400o400o2-D5Jm7TSXE7ZbjeDhfh5qQo.jpg","href": "https://twitter.com/mtardy_",
      "bio":"Mahé Tardy is a Security R&D Engineer at Quarkslab specializing in Kubernetes and container security. More generally he’s enjoying Linux, programming languages, security and might be a beer geek. He’s contributing to Kubernetes, especially in the security sub-group.",
      "talks": [
        {
          "title": "Hacking Kubernetes Like a Beginner with kdigger",
          "abstract": "During this session, Mahé will demonstrate a simple scenario of a multi-tenant attack in a Kubernetes cluster. He will explain the risks, see how to prevent this kind of attack and show how kdigger can speed up the discovery process of the environment.\r\n\r\nkdigger, short for \"Kubernetes digger\", is a context discovery and container assessment tool for Kubernetes penetration testing. This tool is a compilation of various plugins to facilitate pentesting Kubernetes from inside a pod.\r\n\r\nOn top of discovering a new tool, this presentation will give you an idea of how pentesters generally try to pivot in typical Kubernetes clusters.",
          "format": "Presentation (20m)",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Marcus Noble","image":"https://sessionize.com/image/4980-400o400o2-7Ymm3HykcuY5YNwLCeehXy.jpg","href": "https://twitter.com/Marcus_Noble_",
      "bio":" Marcus is a platform engineer at Giant Swarm, a company dedicated to offering managed Kubernetes solutions. His main area of focus in recent years has been around Go, Kubernetes, containers and DevOps but originally started out as a web developer and JavaScript enthusiast. A self-described “tinkerer”, when not building Kubernetes solutions, Marcus likes to dabble with 3D printing and experimenting with smart home tech.",
      "talks": [
        {
          "title": "The Wonders and Woes of Webhooks",
          "abstract": "Since introduced in Kubernetes v1.9, webhooks have been a key feature, making up one of the cornerstones of Kubernetes extensibility. When used right, they can allow operators to have much more control over their clusters and with tooling like Kyverno and Gatekeeper it’s easier than ever to leverage their full power. But, when misused, things can get very, very messy.\r\n\r\nSo how do we ensure our webhooks are full of wonders and not woes?\r\n\r\nBy taking a look at the history of webhooks in Kubernetes, the driving force behind their adoption and through several horror stories of webhooks gone wrong, we can develop a set of best practices and guidelines to follow to ensure our webhooks stay full of wonder without the woes.",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        },
        {
          "title": "What DragonBall can teach us about being engineers",
          "abstract": "The world of DragonBall has many teachings that we can apply to our life as developers, SREs and DevOps engineers. In this fun and fast-paced talk we'll learn how the Z Warriors were ahead of their time and how they fully embrace the engineer mindset. ",
          "format": "Lightning Talk / Ignite",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Marino Wijay","image":"https://sessionize.com/image/cb55-400o400o2-W6u9dKTP22LweVpiqHCaTD.png","href": "https://twitter.com/virtualized6ix",
      "bio":"Marino leads the Developer Relations and Advocacy team at Solo.io. He is passionate about technology and modern distributed systems. He will always fall back to the patterns of Networking and the ways of the OSI. Community building is his driving force; A modern Jedi Academy.",
      "talks": [
        {
          "title": "Network Engineering Goes DevOoopsie",
          "abstract": "I sit here and reflect back to 2008 when my supervisor suggested I look into the CCNA and Network+. My world changed from plugging a cable into a switch to setting up BGP peers, to configuring Load Balancers for High Availability. Network Engineering has evolved and from my eyes, has been entirely reimagined, retaining the foundations of networking. \r\n\r\nAs I've slowly pivoted to the world of Cloud Native technologies and DevOps, a lot of my previous Network Engineering skills have translated to today's approach to microservices architecture. FOLLOW THE PACKETS I SAY!\r\n\r\nWhat does Networking mean for consumers of Kubernetes and Containers? What does K8S and containers mean Network Engineers? What does that transformation for a Network Engineer look like? \r\n\r\nIn this restrospective talk, I share my journey of Network Engineering from the late 2000s to one in 2022 surrounded by the world distributed systems, observability, the deeper need for security/identity and what our traffic tells us. \r\n\r\nMy hope is to inspire others to transform their network engineering career.",
          "format": "Presentation (40m)",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Michael Cade","image":"https://sessionize.com/image/af6a-400o400o2-95k5oRwqHjTbk7U35xV4yq.png","href": "https://twitter.com/MichaelCade1",
      "bio":"A community first technologist for Kasten by Veeam Software. Based in the UK with over 16 years of industry experience with a key focus on technologies such as cloud-native, automation & data management.\r\n\r\nHis role at Kasten is to act as a technical thought leader, community champion and project owner to engage with the community to enable influencers and customers to overcome the challenges of Cloud-Native Data Management and be successful, speaking at events sharing the technical vision and corporate strategy whilst providing ongoing feedback from the field into product management to shape the future success.\r\n",
      "talks": [
        {
          "title": "Integrating Backup Into Your GitOps CI/CD Pipeline",
          "abstract": "The ability to deploy code and version code has been a de facto requirement and a reason we have CI/CD pipelines for our application development, but with Kubernetes in particular we are seeing a closer tie between code and data. In particular, code being deployed can affect and change your data, for that reason, we need to consider protecting that data as part of our Continuous Development pipelines, In this session, we will focus on how we can incorporate backup actions into your pipeline to ensure that any code changes will start by creating a restore point be it a snapshot or an export to another external repository. We will then as part of a demo incorporate a failure scenario into the environment pipeline to simulate how a configmap can manipulate data to cause data loss. Then we need a way to bring the data back!",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Owen Bowers Adams","image":"https://sessionize.com/image/0fba-400o400o2-hkFSbaFSnDQkvUkK7cvfzH.jpg","href": "https://twitter.com/ObowersA",
      "bio":"Reformed systems engineer, former ambassador for the CDF and currently head of platform engineering for Intelligent Growth Solutions. Powered by OpenSource",
      "talks": [
        {
          "title": "EBPF and Kubernetes - Next level observability",
          "abstract": "A deep dive into how EBPF pairs with kubernetes to provide real time, low overhead tracing. This will focus on what ebpf is, how it fits into the kubernetes ecosystem and how tools like pixie can take tie it all together",
          "format": "Presentation (40m)",
          "level": "Advanced"
        }
      ]
    },
    {
      "name":"Peter Mbanugo","image":"https://sessionize.com/image/93de-400o400o2-hC8Mb6gFnpTuacLFYhYdQM.jpg","href": "https://twitter.com/p_mbanugo",
      "bio":"I'm a software developer interested in building quality and maintainable software solutions. My interest areas are around Software Architecture and Offline First applications.",
      "talks": [
        {
          "title": "Building event-driven, serverless functions in Kubernetes",
          "abstract": "In modern organizations, event-driven architecture combined with FaaS has become more popular because they address some of the challenges of building distributed systems. As these organisations grow, they switch to Kubernetes to scale and manage more services. With the switch to Kubernetes, you want to provide a seamless experience for building and deploying services on Kubernetes.\r\n\r\nThat begs the question, how do I build event-driven serverless applications in Kubernetes?\r\n\r\nThis workshop will teach you how to build such applications with Kubernetes. You're going to develop an e-commerce serverless API. By the end of this course, you will have learned how to work with Knative and Cloud Events, manage the functions using a monorepo, and implement a continuous deployment pipeline.",
          "format": "Tutorial / Workshop",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Ric Featherstone","image":"https://sessionize.com/image/9914-400o400o2-XSZYze4LcV57b7L3XD2rB8.jpg","href": "https://control-plane.io",
      "bio":"From Engineer to Architect and back, Ric’s greying hair comes from his years of hard-won experience consulting in the Financial Services and Media sectors. Happy treading the conveyor belt of Cloud-Native technologies, trying to keep up and sharing his thoughts along the way. He is Head of Engineering at https://control-plane.io",
      "talks": [
        {
          "title": "Who Can You Really Trust?",
          "abstract": "Intangible “trust” is required to secure our systems: we need it to bootstrap infrastructure, secure the software supply chain, run workloads, and reassure our customers of their privacy. But how do we establish and secure this \"trust\" in a dynamic cloud-native system?\r\n\r\nThe advent of hardware-based attestation and certificate authentication gives us new hope. But this brave new dawn has been just over the horizon for the last few years, and new technologies have emerged to champion the identification of our workloads.\r\n\r\nIn this talk we:\r\n* Demystify the nebulous concept of Workload Identity\r\n* Define the importance of autonomous identity generation in a Zero Trust Architecture\r\n* Demonstrate practical examples of bootstrapping and using Workload Identity\r\n* Introduce existing and emerging technologies that enable you to anchor Workload Identity to a Hardware Root of Trust\r\n",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Sebastien Blot","image":"https://sessionize.com/image/5531-400o400o2-29af2f36-11d2-45f3-875e-ed8a4d761a4e.jpg","href":"",
      "bio":"After working in penetration testing, high-security hosting, and satellite imagery for the past 10 years, Sebastien Blot joined CrowdSec as a Core Developer to focus on developing their open-source IPS. The tool is leveraging both IP behavior & reputation to build a community-fueled CTI accessible to all to tackle the global hacking issue",
      "talks": [
        {
          "title": "How to protect your Kubernetes cluster using Crowdsec",
          "abstract": "The [CrowdSec](https://github.com/crowdsecurity/crowdsec/) project aims at providing a crowdsourced approach to common infrastructure defense problems, by distributing free & open-source software allowing you to protect yourself and share information about malevolent actors.\r\n\r\nCrowdSec could be perceived as a modern form of Fail2ban, though for Cloud and container-based infrastructure as well and capable of taking way more advanced decisions a lot faster. Mainly, it’s using a decoupled and distributed approach (detect here, remedy there) and an inference engine that leverages leaky buckets, YAML & Grok patterns to identify aggressive behaviors. It acquires signals from various data sources like files, syslogd, journald, AWS Cloudwatch and Kinesis, Docker logs and Windows Event Log, normalizes them, enriches them to apply heuristics and triggers a bouncer to deal with the threat, if need be. Since it’s written in Go, it’s compatible with almost any environment, fast in execution and ressource conservative.\r\n\r\nThe endgame is the Reputation engine though. If you want to partake in the network to benefit from its findings, CrowdSec captures all aggression signals (timestamp, IP, behavior) and sends them for curation. That way, it establishes a reliable IP blacklist that is constantly redistributed to the network members, in order to achieve a form of Digital Herd Immunity. An IP caught aggressing WordPress sites will quickly be banned by all members using CrowdSec that subscribed to the WordPress defense collection. In that way, we share the IPs that are relevant to your technical context.\r\n\r\nWhile Crowdsec is in charge of the detection, the reaction is performed by \"bouncers\" that aim to be deployable at any level of the applicative / infrastructure stack : \r\n\r\n* via nftables/iptables/pf based on an IP set\r\n* via Nginx lua plugin\r\n* via Traefik middleware\r\n* on Cloudflare via our bouncer that integrates with Cloudflare API\r\n* Or GCP/AWS/Azure firewall, slack or scripting, notifications, etc.\r\n\r\n.. or in many other ways. Over time the possibilities will increase as the application design basically supports anything. \r\n\r\nThis approach, combined with a declarative configuration and a stateless behavior, will make it an ideal candidate to enhance the security of modern stacks (containers, kubernetes, serverless and more generally automatically deployed infrastructures).\r\n\r\nFurthermore, we intend to create and share the most accurate database of malevolent actors as possible, under the form of a real-time IP reputation system, accessible through API. Whenever an attack is locally blocked/detected by Crowdsec, the \"meta\" information of the attack is shared amongst participants (source ip, date and triggered scenario) for redistribution to network members.\r\n\r\nWe are committed to building a strong community, with all that it implies :\r\n* [a public hub](https://hub.crowdsec.net) to find, share and amend parsers, scenarios and blockers\r\n* permissive open-source license to stay business friendly\r\n* and overall a strong commitment to transparency and community-first mentality, by tooling and behavior\r\n\r\nThe microservice architecture is the most significant security challenge in a Kubernetes cluster. Every application you deploy opens a new potential entry for attackers, increasing the attack surface.\r\nIn this talk, we'll present the Crowdsec project and see how we can protect a kubernetes cluster using Crowdsec and the power of the Crowd.\r\n",
          "format": "Presentation (40m)",
          "level": "Intermediate"
        }
      ]
    },
    {
      "name":"Simon Emms","image":"https://sessionize.com/image/93e9-400o400o2-77VPXZ3ktZcBAYNzJLDfDU.jpg","href": "https://twitter.com/TheShroppieBeek",
      "bio":"Simon has been working as a software engineer since 2006, in which time he's done work for the likes of Gitpod, DPD, Specsavers, British Pathé, the NHS, the Red Cross and others. He's used pretty much all of the major languages over the years and since 2017 has been focused on building DevOps solutions and Cloud-native applications that help engineers to work faster and more productively. Since 2021, he has been working with Gitpod to improve the self-hosted experience, which is relied upon by companies with specific security and compliance requirements.\r\n\r\nWhen not behind a computer he's a keen gardener, beekeeper and makes his own sausages.",
      "talks": [
        {
          "title": "Why We Chose To Ditch Helm To Gain Open Source Sanity",
          "abstract": "Helm is a truly excellent ecosystem and is rightly valued by the world over for giving full customisation of deployments. For open-source projects with a finite number of support engineers, full customisation is not always something that is desirable. Sometimes, you need to provide opinionated guide rails for people in order to provide effective support for your product.\r\n\r\nThis session will focus on the reasons why Gitpod has deprecated its Helm charts and switched to a custom-built Installer. Simon will explore some of the benefits and pitfalls experienced and how the community reacted to such a seismic change. He will also answer the question - \"would he do it again?\"",
          "format": "Presentation (40m)",
          "level": "Advanced"
        }
      ]
    },
    {
      "name":"Viktor Farcic","image":"https://sessionize.com/image/3119-400o400o2-KwmEomPTBJ9PckZkggq9ih.jpg","href": "https://twitter.com/vfarcic",
      "bio":"Viktor Farcic is a Developer Advocate at Upbound, a member of the Google Developer Experts and Docker Captains groups, and a published author.\r\n\r\nHis big passions are DevOps, Containers, Kubernetes, Microservices, Continuous Integration, Delivery and Deployment (CI/CD) and Test-Driven Development (TDD).\r\n\r\nHe often speaks at community gatherings and conferences.\r\n\r\nHe published The DevOps Toolkit Series (https://www.devopstoolkitseries.com/), DevOps Paradox (https://amzn.to/2myrYYA) and Test-Driven Java Development (http://www.amazon.com/Test-Driven-Java-Development-Viktor-Farcic-ebook/dp/B00YSIM3SC), as well as courses in Udemy (https://www.udemy.com/user/viktor-farcic/).\r\n\r\nHis random thoughts and tutorials can be found in his blog TechnologyConversations.com.\r\n\r\nHe is the host of the DevOps Toolkit (https://youtube.com/c/devopstoolkit) YouTube channel and a co-host of DevOps Paradox (https://www.devopsparadox.com/) podcast.",
      "talks": [
        {
          "title": "Applying GitOps To Everything",
          "abstract": "You are likely already using GitOps for your applications, but not for everything else. You are likely not using Argo CD, Flux, Rancher Fleet, or similar tools to manage the state of your infrastructure and services. Why is that? If GitOps is a great solution for apps, isn't it safe to assume that it would be equally beneficial for anything else? What is missing?\r\n\r\nThe problem is that most of the commonly used GitOps tools are managing Kubernetes resources which, traditionally, do not deal with infrastructure and Cloud services. That's what we need to change. We need to expand Kubernetes with custom resources that can manage anything, no matter whether that's AWS, Azure, Google Cloud, GitHub, Elastic, DataDog, or any other Cloud service. If we do that, we might convert Kubernetes API into a universal API. We might convert the Kubernetes control plane into a universal control plane. If we do that, we will get end-to-end GitOps through which everything is always in sync and where all we have to do is push changes to Git repositories.\r\n\r\nAll we need to make that happen is Crossplane (an open-source project donated to CNCF), combined with Argo CD, Flux, or Rancher Fleet. Let's see it in action.",
          "format": "Presentation (40m)",
          "level": "Introductory and overview"
        }
      ]
    },
    {
      "name":"Wolodja Wentland","image":"https://sessionize.com/image/c35e-400o400o2-PxxbkcWHwj7NBJ1z7h4RBA.png","href":"",
      "bio":"Wolodja is based in Edinburgh and has been working with cloud-native technologies in various roles. He has a particular passion for GitOps technologies and using them to empower development teams to take full ownership of their services.",
      "talks": [
        {
          "title": "GitOps, Teams and Infrastructure: Managing Cloud Infrastructure for Multiple Tenants",
          "abstract": "GitOps tools such as Flux are commonly used by platform engineers and service teams to manage workloads on Kubernetes. Many applications require cloud resources such as databases, object storage or message queues to be created and configured. This infrastructure is often managed using entirely different workflows than those used for application deployments, which makes for a bad developer experience.\r\n\r\nI will discuss how to securely integrate infrastructure management into your GitOps workflows in multi-tenant environments by leveraging tools such as Crossplane or Flux's tf-controller.\r\n\r\nAttendees of this talk will learn about:\r\n\r\n- Tools that allow them to GitOps-ify their infrastructure\r\n- Ways to ensure that tenants can only manage resources they own\r\n- Managing infrastructure in different multi-tenancy models\r\n",
          "format": "Presentation (40m)",
          "level": "Advanced"
        }
      ]
    }

  ],
  programme: {
    day1: {
      date: "October 3rd, 2022",
      isoDate: "2022-10-03",
      track1: [
        { start: "8:00am", title: "Doors Open / Coffee", speaker: "", description: "Regristration & coffee" },
        { start: "9:00am", title: "Opening", speaker: "David Flanigan", description: "Welcome and opening" },
        { start: "9:10am", title: "Keynote", speaker: "", description: "" },
        { start: "9:45am", title: "Applying GitOps To Everything", speaker: "Viktor Farcic", description: "Introductory and overview" },
        { start: "10:30am", title: "Free", speaker: "", description: "" },
        { start: "11:15am", title: "Break", speaker: "", description: "Chat & Mingle" },
        { start: "11:30am", title: "The Wonders and Woes of Webhooks", speaker: "Marcus Noble", description: "Introductory and overview" },
        { start: "12:15am", title: "Securing Kubernetes with Open Policy Agent", speaker: "Anton Sankov", description: "Introductory and overview" },
        { start: "1:00pm", title: "Lunch", speaker: "", description: "🍱" },
        { start: "2:45pm", title: "Kubernetes cost monitoring best practices", speaker: "Kunal Kushwaha", description: "Intermediate" },
        { start: "3:05pm", title: "Hacking Kubernetes Like a Beginner with kdigger", speaker: "Mahé Tardy", description: "Introductory and overview" },
        { start: "3:30pm", title: "Network Engineering Goes DevOoopsie", speaker: "Marino Wijay", description: "Introductory and overview" },
        { start: "4:10pm", title: "Break", speaker: "", description: "Chat & Mingle" },
        { start: "5:15pm", title: "Secret Management: The Soft Way", speaker: "Lian Li", description: "Introductory and overview" },
        { start: "5:55pm", title: "What DragonBall can teach us about being engineers", speaker: "Marcus Noble", description: "Introductory and overview" },
        { start: "6:00pm", title: "Closing", speaker: "David Flanigan", description: "Wrap-up of Day 1" },
      ],
      track2: [
        { start: "8:00am", title: "Doors Open / Coffee", speaker: "", description: "Regristration & coffee" },
        { start: "9:00am", title: "Opening", speaker: "David Flanigan", description: "Welcome and opening (in Room 1)" },
        { start: "9:10am", title: "Keynote", speaker: "", description: "(in Room 1)" },
        { start: "9:45am", title: "Hacking Kubernetes: Live Demo Marathon", speaker: "Andrew Martin", description: "Advanced" },
        { start: "10:30am", title: "The Dark Side of GitOps: Unanswered Real-life Challenges", speaker: "Ádám Szücs-Mátyás", description: "Advanced" },
        { start: "11:15am", title: "Break", speaker: "", description: "Chat & Mingle" },
        { start: "11:30am", title: "Who Can You Really Trust?", speaker: "Ric Featherstone", description: "Intermediate" },
        { start: "12:15pm", title: "Step by step Kubernetes observability with eBPF", speaker: "Denis Jannot", description: "Intermediate" },
        { start: "1:00pm", title: "Lunch", speaker: "", description: "🍱" },
        { start: "2:45pm", title: "How to protect your Kubernetes cluster using Crowdsec", speaker: "Hamza Essahely & Sebastien Blot", description: "Intermediate" },
        { start: "3:05pm", title: "Free", speaker: "", description: "" },
        { start: "3:30pm", title: "Free", speaker: "", description: "" },
        { start: "4:10pm", title: "Break", speaker: "", description: "Chat & Mingle" },
        { start: "5:15pm", title: "EBPF and Kubernetes - Next level observability", speaker: "Owen Bowers Adams", description: "Advanced"},
        { start: "5:55pm", title: "Free", speaker: "", description: "" },
        { start: "6:00pm", title: "Closing", speaker: "David Flanigan", description: "Back to Room 1" },
      ],
      workshops: [
        { start: "9:45am", title: "Building event-driven, serverless functions in Kubernetes", speaker: "Peter Mbanugo" },
        { start: "4:30pm", title: "eBPF workshop", speaker: "Denis Jannot" },
      ]
    },
    day2: {
      date: "October 4th, 2022",
      isoDate: "2022-10-04",
      track1: [
        { start: "9:00am", title: "Doors Open / Coffee", speaker: "", description: " "},
        { start: "10:00am", title: "Opening", speaker: "David Flanigan", description: "Welcome to Day 2" },
        { start: "10:10am", title: "Keynote", speaker: "", description: " "},
        { start: "11:30am", title: "Free", speaker: "", description: ""},
        { start: "12:15pm", title: "Lunch", speaker: "", description: "🍱"},
        { start: "1:35pm", title: "How to automate troubleshooting a k8s cluster environment", speaker: "Alexander Trelore", description: "Intermediate"},
        { start: "2:00pm", title: "K8s & meat: How we got Kubernetes into the Kaufland meat processing factories", speaker: "Engin Diri", description: "Intermediate"},
        { start: "2:45pm", title: "Adopting the GitOps testing model into your Kubernetes CI/CD workflow", speaker: "Filipi Pires", description: "Intermediate"},
        { start: "3:25pm", title: "ClickOps over GitOps", speaker: "Laszlo Fogas", description: "Intermediate"},
        { start: "4:10pm", title: "Break", speaker: "", description: "Chat & Mingle"},
        { start: "4:35pm", title: "Crowdsourcing a Kubernetes distribution: What we learnt with MicroK8s", speaker: "Alex Jones", description: "Intermediate"},
        { start: "5:00pm", title: "State of Open - what is open source and why it matters in Scotland today", speaker: "Amanda Brock", description: "Introductory and overview"},
        { start: "5:40pm", title: "Scaling Communities to be more Inclusive", speaker: "Kunal Kushwaha", description: "Introductory and overview"},
        { start: "5:50pm", title: "Closing", speaker: "David Flanigan", description: " "}

      ],
      track2: [
        { start: "9:00am", title: "Doors Open / Coffee", speaker: "", description: " " },
        { start: "10:00am", title: "Opening", speaker: "David Flanigan", description: "Welcome to Day 2 (in Room 1)" },
        { start: "10:10am", title: "Keynote", speaker: "", description: "(in Room 1)" },
        { start: "11:30am", title: "BumbleBee: Or How I Learned To Stop Worrying And Love eBPF", speaker: "Krisztian Fekete", description: "Intermediate"},
        { start: "12:15pm", title: "Lunch", speaker: "", description: "🍱"},
        { start: "1:15pm", title: "Building Operators for Legacy Software or: Running Minecraft on Kubernetes", speaker: "James Laverack", description: "Advanced"},
        { start: "2:00pm", title: "GitOps, Teams & Infrastructure: Managing Cloud Infrastructure for Multiple Tenants", speaker: "Wolodja Wentland", description: "Advanced"},
        { start: "2:45pm", title: "Why We Chose To Ditch Helm To Gain Open Source Sanity", speaker: "Simon Emms", description: "Advanced"},
        { start: "3:25pm", title: "Integrating Backup Into Your GitOps CI/CD Pipeline", speaker: "Michael Cade", description: "Intermediate"},
        { start: "4:10pm", title: "Break", speaker: "", description: "Chat & Mingle"},
        { start: "4:35pm", title: "Free", speaker: "", description: ""},
        { start: "5:00pm", title: "Free", speaker: "", description: ""},
        { start: "5:40pm", title: "Free", speaker: "", description: ""},
        { start: "5:50pm", title: "Closing", speaker: "David Flanigan", description: "Back to Room 1" },
      ],
      workshops: [
        { start: "10:40am", title: "Capture the Flag - Kubernetes Edition", speaker: "Andrew Martin" },
      ],
    }
  },
};

---
<MainLayout {content}>
  <section id="intro">
    <div class="container">
      <h3 class="center">
        The inaugural KubeHuddle conference, hosted in the beautiful Scottish capital, Edinburgh.
      </h3>

      <p>
        KubeHuddle is Scotland’s first Kubernetes conference, hosted and organized by the Scottish community.
      </p>

      <p>
        You can buy tickets <em>now</em>. We have limited tickets available at each price point:
      </p>

      <ul>
        <li>
          <strike>Believer - £100 GBP</strike> <strong>[SOLD OUT]</strong>
        </li>
        <li>Early Bird - £150 GBP</li>
        <li>Standard - £200 GBP</li>
      </ul>

      <div class="center">
        <a href="https://buytickets.at/KubeHuddle" class="big-button">Get Your Ticket</a>
      </div>

      <p>
        If you’re unable to afford a ticket, we may be able to help with our diversity and inclusion tickets, kindly sponsored by members and organizations within our community.
        <a href="mailto:organizers@kubehuddle.com">✉️ Speak to us</a>
      </p>
    </div>
  </section>

  <section id="programme">
    <div class="container">
      <h2 class="pull-right">
        Programme
      </h2>

      <p>
        We'll have two main tracks, as well as a collaboration space that will feature some interactive sessions also.
      </p>

      <div>
        <strong>Track 1 - Introductions & Intermediate Presentations</strong><br/>
        <p>
          This track will feature beginner friendly and intermediate content to cater for a wide variety of experiences, including beginers to Kubernetes.
        </p>

        <strong>Track 2 - Advanced Presentations</strong>
        <p>
          This track will feature advanced Kubernetes topics revolving around scale, multi-tenancy, and operations - you know, all that “fun” stuff.
        </p>
      </div>

      { content.programme.day1.track1.length > 0 && <Agenda agenda={content.programme.day1} /> }
      { content.programme.day2.track1.length > 0 && <Agenda agenda={content.programme.day2} /> }

      <h3>Collaboration Space</h3>
      <p>
        There will be tables provided for people that want to sit with their laptops and collaborate with others, perhaps hacking on a cool new operator? <br/>
        A small selection of workshops and tutorials will also be available throughout the two days, at no extra cost.
      </p>

      <h3>Socials</h3>
      <p>
        There will be a small social on <strong>Sunday, October 2nd</strong>, and the main social on <strong>Monday October 3rd</strong>.<br/>
        More details coming soon...
      </p>
    </div>
  </section>

  <section id="speakers">
    <div class="container">
      <h2>
        Speakers
      </h2>

      <p>
        Our call for papers is now closed. We will announce our speakers shortly.
      </p>

      <div class="fig-holder center">
        {content.speakers.map((speaker) => (
          <Speaker {speaker} />
        ))}
      </div>
    </div>
  </section>

  <section id="sponsors">
    <div class="container">
      <h2>
        Sponsors
      </h2>

      <p>
        If you’d like to support this conference, you can find details on our <a href="/sponsorship">sponsorship opportunities page</a>.
      </p>

      <div class="fig-holder">
        <div id="sponsors-malt">
          <h3 set:text={ content.sponsors.malt.length > 0 && `Malt Level` }></h3>
          {content.sponsors.malt.map((item) => (
            <a href={item.href} target="_blank">
              <figure>
                <img src={"/sponsors/2022/" + item.logo} />
                <figcaption>{item.name}</figcaption>
                </figure>
                </a>
                ))}
        </div>

        <div id="sponsors-grain">
          <h3 set:text={ content.sponsors.grain.length > 0 && `Grain Level` }></h3>
          {content.sponsors.grain.map((item) => (
            <a href={item.href} target="_blank">
              <figure>
                <img src={"/sponsors/2022/" + item.logo} />
                <figcaption>{item.name}</figcaption>
              </figure>
            </a>
          ))}
        </div>

        <div id="sponsors-blend">
          <h3 set:text={ content.sponsors.blend.length > 0 && `Blend Level` }></h3>
          {content.sponsors.blend.map((item) => (
            <a href={item.href} target="_blank">
              <figure>
                <img src={"/sponsors/2022/" + item.logo} />
                <figcaption>{item.name}</figcaption>
              </figure>
            </a>
          ))}
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="pull-right">
      Location
      </h2>

      <div>
        <img src="/venue/eicc.jpg" style="float: right; max-width: 100%; margin: 4px;" />
        <h3>Conference Venue</h3>
        <p>
          <strong>Edinburgh International Conference Centre,</strong><br/>
          The Exchange, <br/>
          150 Morrison St, <br/>
          Edinburgh,<br/>
          EH3 8EE, <br/>
          Scotland
        </p>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.2547738596946!2d-3.2103337929643794!3d55.94596388784876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7a3b36f1d59%3A0x8e1efde2c5173ff1!2sEdinburgh%20International%20Conference%20Centre!5e0!3m2!1sen!2suk!4v1658471625780!5m2!1sen!2suk" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="container">

      <div class="pull-right">
        <img src="/venue/hilton.jpg" style="float: left; max-width: 100%; margin: 4px;" />
        <h3 class="pull-right">Hotel</h3>
        <p>
          We have secured some reduced rate at the Hampton by Hilton for KubeHuddle attendees.
        </p>
        <p>
          When selecting your room, use the group code: <a href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=EDIFBHX&arrivalDate=2022-10-02&departureDate=2022-10-04&groupCode=CHHGKH&room1NumAdults=1&cid=OM%2CWW%2CHILTONLINK%2CEN%2CDirectLink">CHHGKH</a>.
        </p>
        <p>
          <strong>Hampton by Hilton Edinburgh West End</strong><br/>
          166 Fountainbridge,<br/>
          Edinburgh,<br/>
          EH3 9RX<br/>
          Scotland
        </p>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.390582441899!2d-3.214435283423262!3d55.94260198060458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7a13f156add%3A0x9227896966e2f4f6!2sHampton%20by%20Hilton%20Edinburgh%20West%20End!5e0!3m2!1sen!2suk!4v1658748794028!5m2!1sen!2suk" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <section>
    <div class="container">
      <h2>
        About
      </h2>

      <h3>
        Our Values
      </h3>

      <p>
        KubeHuddle is a community run conference and we want to ensure that everything we do and say is transparent and made publicly available.
      </p>

      <ul>
        <li>Our task list and what we’re planning is all public on GitHub</li>
        <li>Our sponsorship details are all public</li>
        <li>All titles submitted as potential sessions at KubeHuddle are public on Sessionize</li>
        <li>This website is open source</li>
        <li>Currently KubeHuddle is being run through my (@rawkode) company, but after the first event we’ll migrate this to a non-profit. All financial transactions for KubeHuddle will be made public as soon as I find a nice way to handle that.</li>
      </ul>


      <h3>
        Organizers
      </h3>

      <div id="organizers" class="center fig-holder">
        {content.organizers.map((item) => (
          <a href={item.href} target="_blank">
            <figure>
              <img src={"/organizers/2022/" + item.image} />
              <figcaption>{item.name}</figcaption>
            </figure>
          </a>
        ))}
      </div>
    </div>
  </section>
</MainLayout>
